#tweetContainer{
padding-top:10px;
}

#tweetContainer article{
  background-color: white;
}


.tweet{
  margin: 1em 2em;
  border: 2px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: 1px 1px 0 #888888;
}

.tweet:hover{
  box-shadow : 0 0 10px #222222;
  margin: 1em .1em 40px 0;
  font-size: 160%;
}

.tweet:hover .tweetText{
  padding: 10px;
}

.tweet header{
  background-color: #f7f7f7;
  padding: 6px;
  overflow: auto;
}

.tweet header img{
  float: left;
  border: -2px solid #f7f7f7;
  border-radius: 5px;
}

.tweet header .tweeterName{
  float: left;
  padding: inherit;
  margin-top: 0px;
  vertical-align: top;
}

.tweet header .tweeterId{
  padding: inherit;
  float: right;
  margin-top: 0;
}

.tweet .tweetText{
  padding: 20px 6px 20px 6px;
  overflow: auto;
}

.tweet footer{
  border-top: 1px solid #f7f7f7;
  overflow: auto;
}

.tweet footer .postedDate {
  margin: 0;
  padding: 10px 6px;
  float: left;
}

.tweet footer .kiss{
  width: 50px;
  display: none;
  float: right;
}

.tweet:hover footer .kiss{
  display: block;

}
